.headerEn {
    text-align: center;
    font-family: 'Minion Pro';
    text-transform: uppercase;
    /* width: 100%; */
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}
.flag_left {
    background: url(../img/flag_left.png);
    position: absolute;
    width: 61px;
    height: 19px;
    left: 9px;
    top: 26px;
}
#header {
    background: url(../img/headerBg.png) center top repeat-x;
    font-family: 'Minion Pro';
    padding-bottom: 42px;
    overflow: visible;
    position: relative;
}
#header h1 {
    font-size: 23px;
    text-transform: uppercase;
}
#header h2 {
    font-size: 12px;
    text-transform: uppercase;
}
#header h3 {
    font-size: 10px;
    text-transform: uppercase;
}
.headerEn h3 {
    line-height: 15px;
    font-size: 10px;
    font-weight: 500;
}
.headerRu {
    text-align: center;
    font-family: 'Minion Pro';
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}
.nano {
    position: absolute;
    width: 97.5%;
    bottom:0;
    padding: 0;
    z-index:0;
    border-bottom: 2px solid #067ab8;
}
div#navigation ul {
    position: relative;
    display: inline-table;
    margin-top: 40px;
    margin-bottom: 0;
    top: 6px;
}
div#navigation ul li.current-menu-item:hover {
    border-bottom: 4px solid #067ab8;
}
div#navigation ul li a {
    display: block;
    color: #757575;
    text-decoration: none;
}
div#navigation li a {
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    font-family: arial;
    text-decoration: none;
    color: #2d2d2d;
}
div#navigation ul li {
    display: inline-block;
    float: left;
}
div#navigation ul li.current_menu {
	border-bottom: 4px solid #067ab8;
}
.form {
    margin-right: 0;
    padding-right: 0;
}
.poyskncu {
    background: url(../img/searchnew.png) no-repeat;
    border: none;
    float: right;
    padding: 0 10px;
    margin-bottom: -18px;
    position: relative;
    right: 18px;
    top: -22px;
    cursor: pointer;
}
div.form input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], div.form input[type="email"], input[type="number"], input[type="tel"], input[type="time"], input[type="url"], div.form textarea {
    background-color: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875em;
    margin: 37px 0 0 0;
    padding: 0.5em;
    height: 2.3125em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
div.form form input[type='text'].gav {
    padding-right: 20px;
    float: left;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
	height: auto;
}
.no-pad-left{
	padding-left: 0;
}
.no-pad-right{
	padding-right: 0;
}
#news {
    float: left;
    background-color: #173D76;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    background: url(../img/newsbg.png) repeat-x;
    background-color: #0c2556;
    padding-right: 10px;
    width: 100%;
}
#news ul {
    margin-left: 10px;
    list-style: none;
    padding-left: 0;
}
#news .menu-second-menu-container li {
    margin-top: 5px;
}
#news li a {
    color: white;
    text-transform: uppercase;
    font-family: "Myriad Pro";
    font-size: 13px;
    text-decoration: none;
    padding-left: 20px;
}
#news li a:hover {
    text-decoration: underline;
}
#about article h2, #contact article h2 {
    font-family: arial;
    font-size: 14px;
    color: #1c4f9c;
    border-bottom: 1px solid #1c4f9c;
    padding-bottom: 7px;
}
#about article p {
    padding-bottom: 15px;
    margin-bottom: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #4a4a4a;
    text-align: justify;
    line-height: 1.4;
}
.panel {
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(92, 92, 92, 0.53);
    border-radius: 0;
}
.cards{
    background: white;
    position: relative;

}
.cards article {
    margin: 0 auto;
    width: 90%;
}
.cards h3 {
    font-family: arial;
    font-size: 11px;
    color: #0a94e3;
    font-weight: bold;
    text-decoration: none;
    float: right;
    margin-top: 15px;
    line-height: 1.4;
    text-transform: none !important;
}
.cards article h3 a{
    width: 66%;
    margin: 0 auto;
}
.newsheader{
    font-size: 13px;
    font-family: arial;
    float: left;
    color: #353535;
    text-decoration: none;
}
.date{
    font-family: arial;
    font-size: 11px;
    color: #0a94e3;
    font-weight: bold;
    text-decoration: none;
    float: right;
    position: absolute;
    top:0;
    right: 5px;
    margin-top: 15px;
}
div.info {
    clear: both;
    border-top: 1px solid #dfdfdf;
    padding-top: 15px;
    direction: ltr;
}
div.info div.large-12.s {
    height: 100px;
    position: relative;
}

div.info .s {
}
div.info div {
    font-size: 12px;
    color: #3d3d3d;
    font-family: arial;
    float: left;
}
body {
    background: url(/img/bodybg.jpg);
    border-bottom: 10px solid #004e90;
}
.readmore {
    clear: both;
    margin: 15px 0 20px 0;
    padding: 2px 0 5px 22px;
    display: block;
    font-family: arial;
    font-size: 12px;
    color: #111111;
    text-decoration: none;
    background: url(/img/readmore.png) no-repeat;
}
.shadow{
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background: white;
    padding: 5px 0;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-bot-15{
    margin-bottom: 15px;

}
.footer-ul{
    list-style: none;
    padding-left: 0;
}
.footer{
    background: url(/img/footerbg.jpg);
}
.footerheader {
    font-size: 11px;
    color: #191919;
    font-family: arial;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
}
.textwidget {
    float: left;
    margin-left: 0px;
    font-style: normal;
    font-family: arial;
    color: #666;
    font-size: 13px;
    line-height: 15px;
    width: 82%;
}
.hoverOpac img:hover {
    opacity: 1;
}
.hoverOpac img {
    opacity: .5;
    transition: opacity 250ms;
}
.padd {
    margin-top: 20px;
    width: 133px;
}
@media (max-width: 425px){
    .nano{
        width: 93.5%
    }
}
@media (min-width: 450px){
    .nano{
        width: 97.5%;
    }
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: left;
    text-decoration: none;
}

.menu li.dropdown {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.carousel-caption h3{
    padding: 10px;
    background: rgba(0,0,0,.6);
}
.carousel-caption{
    text-shadow:none;
}